<!DOCTYPE html>
<html data-ng-app="demo">
  
  <head>
    <meta charset="UTF-8">
    <title>demo</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap-material/dist/css/roboto.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-material/dist/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-material/dist/css/ripples.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular/angular-resource.js"></script>
    <script src="/js/controllers/filename-controller.js"></script>
    <script src="/js/custom.js"></script>
  </head>

  <body class="container" ng-controller="filenameController">
    <h1>Upload a raw file onto DB</h1>
    <span class="btn btn-primary btn-file btn-raised">
        Browse <input type="file" id="filename" ng-model="filename" ng-change="filename()">
        {{filename}}
    </span>

    <h1>Current files on DB</h1>
    <ul>
      <li>...</li>
    </ul>
  </body>
</html>